body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.logo {
    width: 50px; /* Adjust as necessary */
}

.intro .content h1 {
    color: #b32424;
    margin: 0; /* Removes default margin */
    text-align: center; /* Aligns text in the center */
    flex-grow: 1; /* Makes the h1 expand to fill the space */
}

.group-photo img {
    width: 100%;
    max-width: 600px; /* Adjust as necessary */
    height: auto;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    max-width: 50%; /* Limits the width of the content to the left half */
    margin-right: auto; /* Pushes the content to the left */
}

/* Add additional styles for layout, typography, and responsive design */
